asgiref==3.10.0
dj-database-url==3.0.1
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
psycopg==3.2.12
psycopg-binary==3.2.12
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.0.0
pytz==2025.2
setuptools==80.9.0
sqlparse==0.5.3
gunicorn
whitenoise
corsheaders
